
.home-address h2{
    text-align: center;
    padding: 3px 10px;
    color: rgb(104, 100, 100);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}
.home-address hr {
    width: 200px;
    text-align: center;
    margin: 20px auto;
   
}
.inputs{
    text-align: center;
    margin: 20px auto;
    
}
.inputs  input,.inputs button{
    padding:5px 10px;
    margin: 10px auto;
    display: block;
}
form input {
    width: 50%;
}